/*------------------------------------*\
    #haulyShow
\*------------------------------------*/
.haulyShow {
  width: 100%;
  position: relative;
  overflow: hidden;
    
  &-slide {
    float:left;
    text-align: center;
    margin: 0;
    opacity: 0;
    transition: all .75s ease;
    
    &.active {
      opacity: 1;
    }
  }
    
  &-viewport {
    position: relative;
    left: 0;
    transition: all .75s ease;
  }
  
  &-controls {
    position: absolute;
    top: 50%;
    height: 0;
    width: 100%;
    margin-top:-1em;
  }
}