/*------------------------------------*\
 #haulyShow
 \*------------------------------------*/
.haulyShow
{
    width : 100%;
    position : relative;
    overflow : hidden;
    font-size: 32px;
}
.haulyShow-slide
{
    float : left;
    text-align : center;
    margin : 0;
    opacity : 0;
    transition : all .75s ease;
}
.haulyShow-slide.active
{
    opacity : 1;
}
.haulyShow-viewport
{
    position : relative;
    left : 0;
    transition : all .75s ease;
}
.haulyShow-controls
{
    position : absolute;
    top : 50%;
    height : 0;
    width : 100%;
    margin-top : -1em;
}
